.card {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
    color: var(--text-primary);
    background-color: var(--bg-secondary);

    padding: 0.5rem;
    border-radius: 8px;

    cursor: pointer;
}

.card:hover {
    background-color: var(--border-color);
}

.active {
    background-color: var(--border-color);
}
