.container {
    height: 100%;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 7%;
}

.main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.toogle {
    align-self: flex-end;
}

.containerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.containerDocumentCards {
    height: 68vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem 0;
    overflow: scroll;
}

.emptyState {
    font-size: 2rem;
    color: var(--brand-color);
}
