.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 7%;
}

.main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.toogle {
    align-self: flex-end;
}

.containerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.containerDocumentCards {
    height: 60vh;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem 0;
    overflow-y: scroll;
}

.emptyState {
    font-size: 2rem;
    color: var(--brand-color);
}

@media screen and (max-width: 810px) {
    .main {
        width: 85%;
    }
    
    .containerTop {
        flex-direction: column;
    }
}
