.themeButton {
  font-size: 1.3rem;
  color: var(--text-secondary);
  background-color: var(--bg-secondary); 

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.themeButton:hover {
  transform: translateY(-3px);
}


@media screen and (max-width: 810px) {
  .themeButton {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
