.sidebar {
  width: 24rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--bg-secondary); 

  padding: 2rem 1.5rem 2rem 2rem;
  border-right: 1px solid var(--border-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--brand-color);
  cursor: pointer;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 1.1rem;
  margin-left: 0.7rem;
}

.recentList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}