:root {
  --bg-primary: #f5f5f5;
  --bg-secondary: #ffffff;
  --border-color: #e1e1e6;
  --text-primary: #121214;
  --text-secondary: #8d8d99;
  --brand-color: #8257e5;
  --white: #ffffff;
  
  color-scheme: light; 
}

[data-theme="dark"] {
  --bg-primary: #121214;
  --bg-secondary: #202024;
  --border-color: #323238;
  --text-primary: #e1e1e6;
  --text-secondary: #8d8d99;
  --brand-color: #8257e5;
  --white: #ffffff;
  

  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
